<div class="card animated fadeIn slow">
    <img class="card-img-top img-thumbnail img-fluid animated fadeIn slow" [src]="character.image" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"> <a [routerLink]="['/detail/' + character.id ]"> {{ character.name | slice:0:18 }} </a> </h5>
        <p class="card-text"> {{ character.status }} </p>
    </div>
    <div class="card-footer">
        <small class="text-muted">Created at {{ character.created| date }}</small>
    </div>
</div>