<div *ngIf="_globalService.Detail" class="container main-container animated fadeIn fast">
    <h1>
        {{ _globalService.Detail.name }}
    </h1>
    <div class="row">
        <div class="col-md-5">
            <img class="img-thumbnail img-fluid" [src]="_globalService.Detail.image" [alt]="_globalService.Detail.name">
        </div>
        <div class="col-md-7">
            <h3> Descripción: </h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci modi quos amet harum commodi at obcaecati minus deleniti necessitatibus distinctio doloribus ratione quod qui, omnis, dolor possimus, quo dolore explicabo?
            </p>
            <h5>Especie:</h5>
            <p>
                {{ _globalService.Detail.species }}
            </p>
            <h5>
                Genero:
            </h5>
            <p>
                {{ _globalService.Detail.gender }}
            </p>
        </div>
    </div>

</div>