<section class="container homeContainer">
    <div *ngIf="!loading">
        <div class="card-columns animated fadeIn slow">
            <div class="" *ngFor="let character of characters">
                <app-cards [characters]="character"></app-cards>
            </div>
        </div>

        <button class="float-right btn btn-success" [routerLink]="['/characters']"> Ver Mas. </button>

    </div>

    <div *ngIf="loading">
        <app-loader></app-loader>
    </div>
</section>