/* You can add global styles to this file, and also import other style files */

body {
    padding-bottom: 200px;
    margin: 0;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.slow {
    -webkit-animation-duration: 0.10s;
    animation-duration: 0.10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.inline {
    width: 30%;
    height: 100%;
    float: left;
}

@media only screen and (max-width: 750px) {
    .inline {
        width: 30%;
        height: 100%;
        display: block;
    }
}